<div id="modal_detalle_pago" class="modal fade modal-md" tabindex="-1" aria-describedby="titulo-modal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div id="titulo-modal" class="modal-title fs-5">Detalle Pago</div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body justify-content-center align-items-center">
                <div class="container-md align-middle">
                    <div class="d-flex justify-content-center align-items-center vh-50 w-100">
                        <div class="card w-100">
                            <div class="card-header">
                                Detalle del Pago n째 <span id="nro"></span>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <span class="fw-bold">Fecha de Pago: &nbsp;</span>
                                    <span id="fPago_detalle"></span>
                                </p>
                                <p class="card-text">
                                    <span class="fw-bold">Importe Pago: &nbsp;</span>
                                    <span id="importePago_detalle"></span>
                                </p>
                                <p class="card-text">
                                    <span class="fw-bold">Tipo Pago: &nbsp;</span>
                                    <span id="tipoPago_detalle"></span>
                                </p>
                                <p class="card-text">
                                    <span class="fw-bold">Estado: &nbsp;</span>
                                    <span id="estadoPago_detalle"></span>
                                </p>
                                <p class="card-text">
                                    <span class="fw-bold">Detalle Pago: &nbsp;</span>
                                    <span id="detPago_detalle"></span>
                                </p>

                                <h5 class="card-title">Alquiler</h5>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span class="fw-bold">Fecha de Inicio: &nbsp;</span>
                                        <span id="fIni_detalle"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="fw-bold">Fecha de Finalizaci처n: &nbsp;</span>
                                        <span id="fFin_detalle"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="fw-bold">Mensualizaci처n: &nbsp;</span>
                                        <span id="monto_detalle"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="fw-bold">Fecha Terminado: &nbsp;</span>
                                        <span id="fTerm_detalle"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="fw-bold">Inquilino: &nbsp;</span>
                                        <span id="inquilino_detalle"></span>
                                    </li>
                                    <li class="list-group-item"><span class="fw-bold">Inmueble</span></li>
                                    <li class="list-group-item">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <span class="fw-bold">Propietario: &nbsp;</span>
                                                <span id="propietario_detalle"></span>
                                            </li>
                                            <li class="list-group-item">
                                                <span class="fw-bold">Tipo de Inmueble: &nbsp;</span>
                                                <span id="tipo_inmueble_detalle"></span>
                                            </li>
                                            <li class="list-group-item">
                                                <span class="fw-bold">Uso: &nbsp;</span>
                                                <span id="uso_detalle"></span>
                                            </li>
                                            <li class="list-group-item">
                                                <span class="fw-bold">Cantidad de Ambientes: &nbsp;</span>
                                                <span id="cant_amb_detalle"></span>
                                            </li>
                                            <li class="list-group-item">
                                                <span class="fw-bold">Precio: &nbsp;</span>
                                                <span id="precio_detalle"></span>
                                            </li>
                                            <li class="list-group-item">
                                                <span class="fw-bold">Direcci처n: &nbsp;</span>
                                                <span id="dir_detalle"></span>
                                            </li>
                                            <li class="list-group-item">
                                                <span class="fw-bold">Latitud: &nbsp;</span>
                                                <span id="lat_detalle"></span>
                                            </li>
                                            <li class="list-group-item">
                                                <span class="fw-bold">Longitud: &nbsp;</span>
                                                <span id="long_detalle"></span>
                                            </li>
                                            <li class="list-group-item">
                                                <span class="fw-bold">Habilitado: &nbsp;</span>
                                                <span id="habilitado_detalle"></span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                @if (User.IsInRole(Rol.ADMIN.ToString())) {
                                    <p class="card-text">
                                        <span class="fw-bold">Cobrado Por: &nbsp;</span>
                                        <span id="detPago_cobrado"></span>
                                    </p>
                                    <p class="card-text">
                                        <span class="fw-bold">Anulado Por: &nbsp;</span>
                                        <span id="detPago_anulado"></span>
                                    </p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>