<div id="modal_detalle_inmueble" class="modal fade modal-sm" tabindex="-1" aria-describedby="titulo-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div id="titulo-modal" class="modal-title fs-5">Detalle Inmueble</div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body justify-content-center align-items-center">
                <div class="container-md align-middle">
                    <div class="d-flex justify-content-center align-items-center vh-50 w-100">
                        <div class="card" style="width: 18rem;">
                            <div class="card-header">
                                Detalle del Inmueble n° <span id="nro"></span>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <span class="fw-bold">Propietario: &nbsp;</span>
                                    </br>
                                    <span id="propietario_detalle"></span>
                                </li>
                                <li class="list-group-item">
                                    <span class="fw-bold">Tipo de Inmueble: &nbsp;</span>
                                    </br>
                                    <span id="tipo_inmueble_detalle"></span>
                                </li>
                                <li class="list-group-item">
                                    <span class="fw-bold">Uso: &nbsp;</span>
                                    </br>
                                    <span id="uso_detalle"></span>
                                </li>
                                <li class="list-group-item">
                                    <span class="fw-bold">Cantidad de Ambientes: &nbsp;</span>
                                    </br>
                                    <span id="cant_amb_detalle"></span>
                                </li>
                                <li class="list-group-item">
                                    <span class="fw-bold">Precio: &nbsp;</span>
                                    </br>
                                    <span id="precio_detalle"></span>
                                </li>
                                <li class="list-group-item">
                                    <span class="fw-bold">Dirección: &nbsp;</span>
                                    </br>
                                    <span id="dir_detalle"></span>
                                </li>
                                <li class="list-group-item">
                                    <span class="fw-bold">Latitud: &nbsp;</span>
                                    </br>
                                    <span id="lat_detalle"></span>
                                </li>
                                <li class="list-group-item">
                                    <span class="fw-bold">Longitud: &nbsp;</span>
                                    </br>
                                    <span id="long_detalle"></span>
                                </li>
                                <li class="list-group-item">
                                    <span class="fw-bold">Habilitado: &nbsp;</span>
                                    </br>
                                    <span id="habilitado_detalle"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>